<form class="example-form" [formGroup]="ReegisterForm">
  <mat-form-field class="example-full-width">
    <mat-icon matPrefix>person</mat-icon>
    <input matInput placeholder="FullName...." formControlName="FullName" />
    <mat-error
      *ngIf="
        ReegisterForm.get('FullName')?.errors?.['required'] &&
        ReegisterForm.get('FullName')?.touched
      "
    >
      *FullName is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-icon matPrefix>email</mat-icon>
    <input matInput placeholder="Email...." formControlName="Email" />
    <mat-error
      *ngIf="
        ReegisterForm.get('Email')?.errors?.['required'] &&
        ReegisterForm.get('Email')?.touched
      "
    >
      *Email is required
    </mat-error>

    <mat-error
      *ngIf="
        ReegisterForm.get('Email')?.errors?.['email'] 
       
      "
    >
      *Enter Valid Email
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon matPrefix>lock</mat-icon>
    <input
      matInput
      type="password"
      placeholder="Password..."
      formControlName="Password"
    />
    <mat-error *ngIf="ReegisterForm.get('Password')?.errors?.['required']">
      Password is required
    </mat-error>
  </mat-form-field>
  <strong class="text-start" *ngIf="isLreadySigned">{{
    isLreadySigned
  }}</strong>

  <button mat-raised-button color="primary" (click)="Register()">
    Register
  </button>
</form>
